{% extends 'base.html.twig' %}

{% block title %}Edit Polls{% endblock %}

{% block body %}

<h1>{{ poll.title }}</h1>

<table class="table">
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}