{% extends 'base.html.twig' %}

{% block title %}Edit Polls{% endblock %}

{% block body %}
    
    <div class="container" style="width: 360px; margin: auto;">
    <h1>Update poll</h1>
    {{ include('polls/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    
{% endblock %}
