{% extends 'base.html.twig' %}

{% block title %}New Polls{% endblock %}

{% block body %}
    <h1>Create new Polls</h1>

    {{ include('polls/_form.html.twig') }}

    <a href="{{ path('polls_index') }}">back to list</a>
{% endblock %}
