<form method="post" action="{{ path('poll_answers_delete', {'id': poll_answer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poll_answer.id) }}">
    <button class="btn">Delete</button>
</form>
