{% extends 'base.html.twig' %}

{% block title %}New PollAnswers{% endblock %}

{% block body %}
    <h1>Create new PollAnswers</h1>

    {{ include('poll_answers/_form.html.twig') }}

    <a href="{{ path('poll_answers_index') }}">back to list</a>
{% endblock %}
