{% extends 'base.html.twig' %}
{% block body %}
<div class="container" style="display: flex; flex-direction: column; align-items: center;">
    <div class="congrats_title">
        <h1> Congrats! Poll Created 🎉 </h1>
    </div>
    <div class="congrats_share">
        <h2> Share on: </h2>
    </div>
    <div class="share__icons">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-linkedin"></ion-icon>
      <div class="material-icons-round" id="share-icon">
        link
      </div>
    </div>
</div>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script>
document.getElementById('share-icon').addEventListener("click", function handleShare(){
  const url = "http://localhost/Polly/poll/answers"
});

</script>
{% endblock %}


