{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1> Congrats! Poll completed 🎉 </h1>
    <h2>You have completed all the steps, you can now share your survey with your friends.</h2>
    <div
        style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div class="material-icons-round" value="copy" data-target="#tocopy" onClick="copying()">
            link
        </div>
        <input type="text" id="tocopy"
            value="http://localhost/Polly/public/polls/{{ app.request.get('id') }}/answers" />
    </div>
    <div class="share-container">
        <div id="reddit-share" class="icon-share">
            <img src="../public/styles/images/reddit.svg" alt="The reddit logo" width="30" />
        </div>
        <div id="facebook-share">
            <img src="../public/styles/images/facebook.svg" alt="The reddit logo" width="30" />
        </div>
    </div>
</div>
<div id="snackbar">The link has been copied</div>
</div>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script>
    var valueInput = document.getElementById("tocopy");

    function copying() {
        valueInput.select();
        valueInput.setSelectionRange(0, 99999)
        document.execCommand("copy");
        snackbar();
    }

    function snackbar() {
        var snackbar = document.getElementById("snackbar");
        snackbar.className = "show";
        setTimeout(function () {
            snackbar.className = snackbar.className.replace("show", "");
        }, 3000);
    }


    var reddit = document.getElementById("reddit-share");
    var facebook = document.getElementById("facebook-share");
    reddit.addEventListener("click", () => shareContent("reddit"), false);
    facebook.addEventListener("click", () => shareContent("facebook"), false);
    
    function shareContent(social) {
        switch (social) {
            case "reddit":
                window.open(
                    "https://www.reddit.com/submit?title=Repond+a+mon+nouveau+sondage+du+site+Polly+!+Hésite+pas+à+partager+!&url=" +
                    valueInput.value, '',
                    'menubar=no, toolbar=no, resizable=yes, scrollbar=yes, height=600, width=600');
                break;
            case "facebook":
                window.open(
                    "https://www.facebook.com/sharer.php?t=Repond+a+mon+nouveau+sondage+du+site+Polly+!+Hésite+pas+à+partager+!&u=" +
                    valueInput.value, '',
                    'menubar=no, toolbar=no, resizable=yes, scrollbar=yes, height=600, width=600');
                break;
            default:
                console.log("error");
        }
    }
</script>

<style>
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #af52de;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        border-radius: 12px;
    }


    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }
</style>
{% endblock %}