{% extends 'base.html.twig' %}
{% block body %}
<h1>Trends<h1>
{% for poll in polls %}
{% if poll.hide == 0 %}
<div class="polls-view">
  <div class="item">
    <div class="item__title">
      <p class="item__title__name label">{{ poll.title}}</p>
      <p class="item__title__author footnote terciary">
        {{ poll.dateCreation ? poll.dateCreation|date('Y-m-d H:i:s') : '' }}</p>
    </div>
    <div></div>
  </div>
</div>
{% endif %}
{% else %}
<p>no records found</p>
{% endfor %}
{% endblock %}