:root {
  --background: #f2f6ff;
  --terciary-label: rgba(0, 0, 0, 0.25);
  --secondary-label: rgba(60, 60, 67, 0.6);
  --quaternary-label: rgba(0, 0, 0, 0.1);
  --primary-purple: #af52de;
  --primary-blue: #007aff;
  --primary-red: #ff3b30;
  --secondary-purple: rgba(175, 82, 222, 0.1);
  --separator: rgba(0, 0, 0, 0.1);
}
