{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    
    <div class="container" style="width: 360px; margin: auto; background-color: white; padding: 24px; border-radius: 12px; margin-top: 20px;">
    <h1>Update user</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
