{% extends 'base.html.twig' %}
{% block body %}
    <div style="display: flex; flex-direction: column; width: 360px; padding: 24px; background-color: white; margin: auto; margin-top: 20px; border-radius: 12px;">
    <h1>Delete polls</h1>
        <div>
            Id: {{ user.id }}
        </div>
        <div>
            Username: {{ user.email }}
        </div>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
